@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@font-face {
  font-family: freight-big-pro;
  src: url(../assets/FreightBigProBook.otf);
}

/* @font-face {
  font-family: freight-big-pro;
  src: url(../assets/FreightBigProSemibold.otf);
} */

:root {
  /* Global Fonts */
  --global-serif: serif;
  --global-sans-serif: "Inter", sans-serif;
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-delay: -1s !important;
    animation-duration: 1s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
  }
}