@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@font-face {
  font-family: freight-big-pro;
  src: url(../assets/FreightBigProBook.otf);
}

:root {
  /* Fonts */
  --theme-serif: freight-big-pro, serif;
  --theme-sans-serif: "Questrial", sans-serif;

  /* Borders */
  --border-outer: 15px;
  --border-inner: 7.5px;

  /* Colors */
  --color-background: #222224;
  --color-background-dark: #131314;

  /* Misc */
  --theme-shadow: 3px 9px 18px rgba(0, 0, 0, 0.2);
  --theme-text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: var(--theme-sans-serif);
  background-color: var(--color-background);
}

/* Header */
section.header {
  height: 100vh;

  color: white;

  padding: 12vh 7vw;
  box-sizing: border-box;

  position: relative;
}

section.header .container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;

  position: relative;
}

section.header .signature,
section.header .intro {
  display: flex;
  align-items: center;
}

section.header .signature {
  height: 100%;
  display: none;
}

section.header .signature svg {
  width: 32vh;
  margin-left: -5vh;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.6));
}

section.header .signature svg * {
  stroke: white;
}

section.header .intro {
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;

  margin-left: 2em;
}

section.header .name {
  font-family: var(--theme-serif);
  font-size: 27vw;
  font-weight: 400;

  display: flex;
  flex-direction: column;

  text-shadow: var(--theme-text-shadow);

  margin: 0;
}

section.header .name > span:first-of-type {
  line-height: 0.5;
}

section.header .occupation {
  width: 60%;

  font-family: var(--theme-sans-serif);
  font-size: 0.9em;
  font-weight: 400;

  line-height: 1.5;
  letter-spacing: 0.7px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);

  margin-top: 7vh;
  margin-bottom: 14vh;
}

section.header .scroll {
  letter-spacing: 3px;

  margin-top: 10vh;
  padding-bottom: 0.5em;
}

section.header .image-container {
  height: 100%;
  width: 100%;

  box-sizing: border-box;

  border-radius: var(--border-outer);
  box-shadow: var(--theme-shadow);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

  overflow: hidden;
}

section.header .image-container img {
  height: 100%;
  width: 100%;

  object-fit: cover;
  transform: scaleX(-1);
}

/* Projects */
section.projects {
  margin-top: 5vh;
}

.sticky-inner {
  height: 100vh;
  min-width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

section.projects .card {
  max-width: 480px;

  color: white;

  display: flex;
  flex-direction: column;
  gap: 2.5em;

  position: relative;
  padding: 1.5em;
}

section.projects .image-container {
  height: 435px;

  position: relative;
}

section.projects img {
  height: 100%;
  width: 100%;

  background-color: var(--color-background-dark);

  object-fit: cover;
  border-radius: var(--border-inner);
}

section.projects .label {
  width: 95%;

  display: flex;

  position: absolute;
  left: -24px;
  bottom: 2vh;
}

section.projects .label .index {
  height: 100%;

  color: rgba(255, 255, 255, 0.85);
  font-size: 2.1em;

  align-self: flex-end;
  padding-left: 12px;

  transform: rotate(-90deg);
}

section.projects .label .name {
  font-size: 2.4em;
  font-weight: 800;
  letter-spacing: 3px;

  margin-left: 0.2em;
}

section.projects .meta {
  min-height: 135px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section.projects .description {
  color: rgba(255, 255, 255, 0.9);

  line-height: 1.7;
  margin-bottom: 2em;
}

section.projects .meta a.primary,
section.projects .meta a.secondary {
  text-decoration: none;

  padding: 0.5em 1em;
}

section.projects .meta a.primary {
  color: rgba(255, 255, 255, 0.97);

  background-color: var(--color-background-dark);
  border-radius: 50px;
}

section.projects .meta a.secondary {
  color: rgba(255, 255, 255, 0.75);
}

/* Horizontal Scroll Galleries */
.gallery-container {
  position: relative;
}

.gallery {
  overflow-x: hidden;
  overflow-y: hidden;

  position: sticky;
  top: 0;

  display: flex;
  align-items: center;

  will-change: scroll-position;
}

/* Footer */
footer {
  height: 375px;

  background-color: var(--color-background-dark);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4em;

  padding: 4em;
  padding-bottom: 2.5em;
  margin-top: 4em;
}

footer .links {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

footer .links a {
  color: rgba(255, 255, 255, 0.93);
  text-decoration: none;

  transition: all 0.2s ease;
}

footer .links a:hover,
footer .links a:active {
  color: white;
  border-bottom: 0.13em solid white;
}

footer .signature {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer .signature svg {
  width: 65%;
}

footer .signature svg * {
  stroke: #4f4e54;
}

/* Animations */
.signature-reveal {
  animation-name: strokeOffset;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes strokeOffset {
  to {
    stroke-dashoffset: 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  section.header .name {
    font-size: 9em;
  }

  section.projects .image-container {
    height: 60vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  section.projects .card {
    max-width: 360px;
  }

  section.projects .sticky-inner {
    min-width: 70vw;
  }

  section.projects .image-container {
    height: 435px;
  }

  footer {
    flex-direction: row;
    gap: unset;

    padding: 0 calc(7vw + 58px);
  }

  footer .signature svg {
    width: 55%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  section.projects .sticky-inner {
    min-width: 55vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  section.header .container {
    width: 95%;
    justify-content: space-between;
  }

  section.header .intro {
    margin-left: unset;
    margin-right: 4.5vw;
  }

  section.header .image-container {
    width: 80%;
    margin-left: 5%;

    justify-content: space-between;
  }

  section.header .signature {
    display: flex;
  }

  section.projects .sticky-inner {
    min-width: 635px;

    padding-left: 7vw;
    padding-right: 7vw;
  }

  section.projects .card {
    height: 435px;
    max-width: unset;

    flex-direction: row;
    margin-right: 0;
  }

  section.projects .image-container {
    height: 100%;
    width: 360px;
  }

  section.projects .label {
    width: 95%;
  }

  section.projects .description {
    width: 15vw;
  }

  section.projects .link-container {
    margin-bottom: 2em;
  }
}
