@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@font-face {
  font-family: freight-big-pro;
  src: url(../assets/FreightBigProBook.otf);
}

:root {
  /* Fonts */
  --theme-serif: freight-big-pro, serif;
  --theme-sans-serif: "Questrial", sans-serif;

  /* Borders */
  --border-outer: 15px;
  --border-inner: 7.5px;

  /* Colors */
  --color-background: #222224;
  --color-background-dark: #131314;

  /* Misc */
  --theme-shadow: 3px 9px 18px rgba(0, 0, 0, 0.2);
  --theme-text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: var(--theme-sans-serif);
  background-color: var(--color-background);
}

/* Header */
section.header {
  height: 100vh;
  width: 100vw;

  color: white;

  /* display: flex;
  justify-content: space-between; */

  padding: 12vh 7vw;
  box-sizing: border-box;

  position: relative;
}

section.header .container {
  height: 100%;
  width: 95%;

  display: flex;
  justify-content: space-between;

  position: relative;
}

section.header .signature,
section.header .intro {
  display: flex;
  align-items: center;
}

section.header .signature {
  height: 100%;
}

section.header .signature svg {
  width: 32vh;
  margin-left: -5vh;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.6));
}

section.header .signature svg * {
  stroke: white;
}

section.header .intro {
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 4.5vw;
}

section.header .name {
  font-family: var(--theme-serif);
  font-size: 9em;
  font-weight: 400;

  display: flex;
  flex-direction: column;

  text-shadow: var(--theme-text-shadow);

  margin: 0;
}

section.header .name > span:first-of-type {
  line-height: 0.5;
}

section.header .occupation {
  width: 60%;

  font-family: var(--theme-sans-serif);
  font-size: 0.9em;
  font-weight: 400;

  line-height: 1.5;
  letter-spacing: 0.7px;
  /* text-shadow: var(--theme-text-shadow); */
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);

  margin-top: 7vh;
  margin-bottom: 14vh;
}

section.header .scroll {
  letter-spacing: 3px;

  margin-top: 10vh;
  padding-bottom: 0.5em;
}

section.header .image-container {
  height: 100%;
  width: 80%;
  box-sizing: border-box;

  border-radius: var(--border-outer);
  box-shadow: var(--theme-shadow);
  margin-left: 5%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

  overflow: hidden;
}

section.header .image-container img {
  height: 100%;
  width: 100%;

  object-fit: cover;
  transform: scaleX(-1);
}

/* Projects */
section.projects {
  margin-top: 30vh;
  /* padding-left: 7vw; */
}

section.projects .container {
  height: 75vh;
  
  /* padding-left: 5vw; */
  display: flex;
  /* gap: 10vw; */
  gap: 6.5vw;
  
  padding-left: 7vw;
  padding-right: 20vw;

  overflow-x: scroll;
}

section.projects .card {
  height: 55vh;
  /* width: 25vw; */
  /* width: 40vw; */

  color: white;

  display: flex;
  gap: 2.5em;

  position: relative;
  /* box-sizing: border-box; */
}

section.projects .image-container {
  height: 100%;
  width: 25vw;

  border-radius: var(--border-inner);
  overflow: hidden;
}

section.projects img {
  height: 100%;
  width: 100%;
  /* width: 25vw; */

  background-color: var(--color-background-dark);

  object-fit: cover;
}

section.projects .label {
width: 55%;

  display: flex;

  position: absolute;
  left: -24px;
  bottom: 2vh;
}

section.projects .label .index {
  height: 100%;

  color: rgba(255, 255, 255, 0.85);
  font-size: 2.1em;

  align-self: flex-end;
  padding-left: 12px;

  transform: rotate(-90deg);
}

section.projects .label .name {
/* width: 100%; */

  font-size: 2.4em;
  font-weight: 800;
  letter-spacing: 3px;

  margin-left: 0.2em;
}

section.projects .meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section.projects .description {
  width: 15vw;

  color: rgba(255, 255, 255, 0.9);

  line-height: 1.7;
  margin-bottom: 2em;
}

section.projects .link-container {
  margin-bottom: 2em;
}

section.projects .meta a.primary,
section.projects .meta a.secondary {
  text-decoration: none;

  padding: 0.5em 1em;
}

section.projects .meta a.primary {
  color: rgba(255, 255, 255, 0.97);

  background-color: var(--color-background-dark);
  border-radius: 50px;
}

section.projects .meta a.secondary {
  color: rgba(255, 255, 255, 0.75);
}

/* Animations */
.signature-reveal {
  animation-name: strokeOffset;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes strokeOffset {
  to {
    stroke-dashoffset: 0;
  }
}
