section.hero {
  width: 100%;
  height: 100vh;

  margin-left: auto;
  margin-right: auto;

  position: relative;
}

// Greeting
.greetingContainer {
  max-width: var(--width-xl);

  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1.25rem;

  position: absolute;
  top: 80px;
  z-index: 10;

  h1 {
    color: var(--color-white);
    font-size: 40px;
    font-weight: 900;

    margin-top: 0.5rem;
    margin-bottom: 0;

    span {
      color: var(--color-primary);
    }
  }

  h2 {
    color: rgba(255, 255, 255, 0.85);

    margin-top: 0.5rem;
    line-height: 1.5;
  }
}

.border {
  margin-top: 1.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .circle {
    width: 1.25rem;
    aspect-ratio: 1/1;

    background-color: var(--color-primary);
    border-radius: 50%;
  }

  .line {
    width: 0.25rem;
    height: 10rem;

    background: #804dee;
    background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(
      -90deg,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%
    );
  }
}

// Scroll indicator
.scrollContainer {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 8rem;

  .mouse {
    width: 30px;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: start;

    // padding: 0.5rem;

    border: var(--color-gray) 4px solid;
    border-radius: 35px;
    cursor: pointer;

    .scrollWheel {
      width: 0.75rem;
      aspect-ratio: 1/1;

      background-color: var(--color-gray);
      border-radius: 50%;

      margin-bottom: 0.25rem;
      margin-top: 0.35rem;
    }
  }
}

// Small Screens
@media (min-width: 640px) {
  .border {
    .line {
      height: 20rem;
    }
  }

  .greetingContainer {
    h1 {
      font-size: 60px;
    }

    h2 {
      max-width: 500px;
    }
  }

  .scrollContainer {
    bottom: 2.5rem;
  }
}

// Large Screens
@media (min-width: 1024px) {
  .greetingContainer {
    h1 {
      font-size: 80px;
      line-height: 98px;
    }
  }
}
