@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-sans-serif: "Poppins", sans-serif;

  --color-background: #040614;
  --color-primary: #915eff;
  --color-secondary: #140f36;
  --color-white: white;
  --color-gray: #7d808b;
  --color-black: #100d25;

  --width-xl: 80rem;
  --padding-x: 1.5rem;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans-serif);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Small Screens */
@media (min-width: 640px) {
  :root {
    --padding-x: 4rem;
  }
}
