:root {
  --color-navbar: rgba(var(--color-background), 0.95);
}

nav {
  width: 100%;
  background-color: var(--color-navbar);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);

  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 100;

  // Navigation container
  .container {
    width: 100%;
    max-width: var(--width-xl);

    padding: 0.75rem var(--padding-x);
    margin-left: 0;
    margin-right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// Logo styling
.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .logo {
    width: 2.25rem;
    height: 2.25rem;

    object-fit: contain;
  }
}

// Navigation links
ul.linkContainer {
  color: var(--color-gray);
  font-size: 18px;
  font-weight: 500;

  list-style: none;

  display: none;
  flex-direction: row;
  gap: 2.5rem;

  li {
    transition: color 0.2s ease-in-out;
  }

  li:hover {
    color: var(--color-white);
  }

  li.active {
    color: var(--color-white);
  }
}

// Mobile navigation
.mobileNav {
  display: flex;
  flex: 1 1 0%;
  justify-content: end;
  align-items: center;

  img.menuIcon {
    width: 28px;
    aspect-ratio: 1/1;

    object-fit: contain;
    cursor: pointer;
  }

  .menu {
    min-width: 140px;

    background-color: black;
    border-radius: 10px;

    padding: 1.5rem;
    margin: 0.5rem 1rem;

    position: absolute;
    top: 5rem;
    right: 0;
    z-index: 10;
  }

  // Mobile navigation links
  ul.linkContainer {
    font-size: 16px;

    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (min-width: 640px) {
  nav {
    // Navigation container
    .container {
      padding-left: var(--padding-x);
      padding-right: var(--padding-x);
    }

    // Desktop navigation
    ul.linkContainer {
      display: flex;
    }

    // Mobile navigation
    .mobileNav {
      display: none;
    }
  }
}
