section.experience {
  h1 {
    color: var(--color-gray);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    margin-top: 3rem;
  }

  h2 {
    font-size: 30px;
    font-weight: 900;

    margin: 0.5rem 0;
  }
}

.timelineContainer {
  display: flex;
  flex-direction: column;

  margin-top: 5rem;

  h3 {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 0.25rem;
  }

  p {
    color: var(--color-gray);
    font-size: 16px;
    font-weight: 600;

    margin: 0;
  }

  ul {
    list-style-type: disc;

    margin-top: 1.25rem;
    margin-left: 1.25rem;

    li {
      color: #f3f3f3; // TODO change to variable
      font-size: 14px;
      letter-spacing: 0.05em;
      line-height: 1.5;

      margin-top: 0.75rem;
      padding-left: 0.25rem;
    }
  }
}

.icon {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 60%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}

// Small Screens
@media (min-width: 640px) {
  section.experience {
    h1 {
      font-size: 18px;
    }

    h2 {
      font-size: 50px;
    }
  }
}

//  Medium Screens
@media (min-width: 768px) {
  section.experience {
    h2 {
      font-size: 60px;
    }
  }
}
