@use "sass:map";
@import "styles/variables.scss";

main.app {
  background-color: map.get($theme-colors, "background");

  position: relative;
  z-index: 0;
}

section.contact {
  position: relative;
  z-index: 0;
}
